<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--
        bean:   配置一个bean对象， 将对象交给IOC容器管理， bean对应的是一个对象， class里面是不能写一个接口的， 接口是不能创建对象的
        属性：
            id:  bean的唯一标识， 不能重复， 是可以随便取的
            class： 设置bean对象 所对应的类型， 其实就是找到对应的哪个类，



            如果组件类实现了接口， 根据接口类型可以获取bean，  因为这时的bean是唯一的， 因为组件类，就只配置了一个bean

            如果一个接口有多个实现类， 而且这些实现类都配置了bean，  根据接口类型是不能获取bean的，
                因为bean是不唯一的了， 因为都配置了bean， 而且这些类都是实现了同一个接口， 所以是不唯一的


            结论：
                其实就是通过bean的类型， bean所继承的类的类型， bean所实现的接口的类型都可以获取bean


    一个类是依赖于 它的属性的， 所以就能通过  在IOC容器中为这些依赖的属性进行赋值（依赖注入） 其实就是为当前这个类中的属性赋值


-->

    <bean id="helloworld" class="cpm.p.pojo.helloSpring">

    </bean>


</beans>